/* :root{
    --prlgrm:10px;
} */

#cv {
    height: 100vh;
    position: relative;

    z-index: 0;
    overflow: hidden;
    background: radial-gradient(circle, transparent 50%, rgba(0, 0, 0, 0.664) 100%);

    display: flex;
    flex-direction: column;
}
#cv::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/Games/limbo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.08;
    z-index: -1;
}

#cv #block-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    padding: 0% 10px;
    height: 100%;
}
#cv #here-i-am{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;

    background-color: var(--black);
    border-top: 4px solid var(--white);
    border-bottom: 4px solid var(--white);
    padding: 40px;
}
#cv #here-i-am::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, var(--black) 100%);
}
#cv #here-i-am::after {
    content: "INFORMATION";
    font-family: pixel;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    opacity: 0.2;
    font-size: 3em;
    word-wrap: break-word;
}
#cv #here-i-am h4{
    color: var(--primarybis);
    text-transform: uppercase;
}

#cv #here-i-am h4,
#cv #here-i-am .bold{
    font-weight: bold;
    font-family: pixel;
    font-size: 1.5em;
}
#cv #here-i-am .bold{
    color: var(--secondarybis);
    font-size: 1.3em;
}
#cv #here-i-am i{
    text-align: center;
}
#cv #hashtags {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    color: var(--primarybis);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}
#cv #hashtags p{
    font-family: pixel;
    display: inline;
}



#cv ul#hero-menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    /* margin: 10px 0; */
    justify-content: center;
    gap: 2px;

    font-size: 2em;
    font-family: pixel;
    position: relative;
    z-index: 1;
}
#cv ul#hero-menu::before {
    /* content: ""; */
    position: absolute;
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, var(--black) 100%);
}
#cv ul#hero-menu li{
    padding: 15px 25px;
    background-color: var(--black);
    color: var(--white);
    border-top: none;
    border-bottom: none;

    position: relative;
    /* clip-path: polygon(100% 0, 100% 100%, 90% 95%, 10% 95%, 0 100%, 0% 0%); */
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); */
    clip-path: polygon(0% 0%, 0 10px, 10px 0, 15px 0, 0 15px, 0 100%, 100% 100%, 100% 0%);
    text-transform: uppercase;

    transition: all 0.5s ease;
}
#cv ul#hero-menu a{
    text-decoration: none;
}
#cv ul#hero-menu li.cv{
    background-color: var(--primarybis);
    color: var(--white);
}
#cv ul#hero-menu img{
    width: 20px;
    color: var(--white);
}
#cv ul#hero-menu li:hover,
#cv ul#hero-menu li.active{
    background-color: var(--white);
    color: var(--primary);
    /* cursor: pointer; */
}


 /* #cv ul#hero-menu li::before{
    width  : 100%;
    height : 100%;
    content: '';
    
    background-color: var(--white);
    position : absolute;
    top: 0;
    left: 0;
} */

.sub-section-cv{
    
    position: absolute
}
.sub-section-cv:not(.active){
    transform: translateX(-100%);
    
}
.sub-section-cv.active{
    transform: translateX(0%);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.5s ease;
}


#cv h3{
    padding-left: 100px;
    text-transform: uppercase;
    position: relative;

    font-size: 2.5em;
    width: fit-content;
    opacity: 0.7;

    margin: 20px 0px;

    font-family: pixel;
}

#cv h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;

    border-bottom: 1px solid var(--white);
}



#cv #screen-hero{
    display: flex;
    flex-direction: column-reverse;
    margin: 0px 30px 30px 30px;
    height: 100%;
}
#cv #screen-hero > *{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}


#cv #left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
}

#cv #left #text-hero{
    opacity: 0.7;
}

#cv #left #text-hero h4{
    font-size: 7em;
    font-family: pixel;
    text-transform: uppercase;
}
#cv #left #text-hero i{
    font-family: mytext;
    font-size: 1.2em;
    text-transform: capitalize;
    font-style: italic;
    position: relative;
    width: 100%;
    height: fit-content;
    top: -1.2em;
    text-align: center;
    display: block;
}


#cv #hero-ul{
    display: flex;
    padding-left: 0;
}
#cv #hero-ul li{
    background-color: var(--black);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 125px;
    height: 140px;

    overflow: hidden;
    filter: grayscale(80%);
    margin-right: -15px;

    border-top: 5px solid var(--black);
    border-bottom: 5px solid var(--black);

    transition: all 0.5s ease;

    /* cursor: pointer; */
}
#cv #hero-ul li.active,
#cv #hero-ul li:hover{
    filter: none;
    border-top: 5px solid var(--secondarybis);
    border-bottom: 5px solid var(--secondarybis);
}

#cv #hero-ul li:hover img,
#cv #hero-ul li.active img{
    transform: scale(1.1);
}

#cv #hero-ul li img{
    width: 100%;
    object-position: -20px top;
    transform: scale(1);
    transition: all 0.5s ease;
    object-position: top left;
}

#cv #right{
    position: relative;
    display: flex;
    justify-content: center;
}
#cv picture img {
    object-fit: contain;
}
#cv picture.hero{
    width: auto;
    height: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
}

#cv #lvl{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    width: fit-content;
    text-align: center;
    font-family: pixel;

    border: 2px solid var(--black);
    border-radius: 100%;
    padding: 30px;
    transform: translateY(-50%);
}
#cv #lvl::before{
    content: "";
    position: absolute;
    width: 115%;
    height: 115%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px double var(--white);
    border-radius: 100%;
    opacity: 0.08;
}


@media screen and (min-width: 1024px){
    #cv #block-about {
        padding: 0% 15%;
    }

    #cv #here-i-am{
        padding: 70px 50px 50px 50px;
    }

    #cv #here-i-am::after {
        font-size: 8em;
    }

    #cv #screen-hero{
        flex-direction: row;
    }
    #cv #screen-hero > *{
        width: 50%;
        height: 100%;

    }    
    #cv #left #text-hero h4{
        font-size: 12em;
    }
    #cv #right{
        margin-right: 70px;
        justify-content: center;
    }
    #cv #left #text-hero i{
        text-align: start;
        left: 10px;
    }
    #cv #hero-ul{
        padding-left: 45px;
    }
    #cv #lvl{
        font-size: 2.5em;
        transform: none;
    }
    
}