#landing {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;

    background-color: var(--grey);
}
#landing #me {
    position: relative;
    width: clamp(200px,30vw,400px);
    height: clamp(200px,30vw,400px);
} 
#landing picture{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
}
#landing picture img{
    object-position: 0% 25%;

    border-radius: 100%;
}

#landing #sphere{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 103%;
    height: 103%;

    transform: translate(-50%,-50%);

    border-radius: 100%;
    border: 3px inset var(--black);

    animation: sphereRotate 15s infinite linear;
}
#landing #sphere::before{
    content: "";
    background-color: var(--primarybis);
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 100%;

    transform: translate(-50%,-50%);
}
#landing #sphere2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125%;
    height: 125%;

    transform: translate(-50%,-50%);

    border-radius: 100%;
    border: 1px solid var(--black);
}
#landing #sphere2::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 135%;
    height: 135%;

    transform: translate(-50%,-50%);

    border-radius: 100%;
    border: 1px solid var(--black);
    opacity: 0.1;
}

@keyframes sphereRotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

#landing #text{
    text-align: center;
}
#landing #text h1{
    font-size: 1em;
    font-style: italic;
    position: fixed;
    text-align: center;

    top: 50px;
    right: 50px;
}
#landing #text #player{
    font-family: pixel;
    font-size: 5em;

    /* animation: twinkle 1s infinite linear; */

}
#landing #text #pseudo{
    font-family: pixel;
    font-size: 2em;
    animation: twinkle 1s infinite linear;

}

@keyframes twinkle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
