#levels{
    min-height: 100vh;
    padding: 70px 30px;
    box-sizing: border-box;
    background-color: var(--black);

    position: relative;
}
#levels::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.009;
    background-image: url("../img/bgcv.jpg");
    background-size: 500px 500px;
}

#levels #start {
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#levels #start h3 {
    font-family: 'pixel';
    font-size: 3.5rem;
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}
#levels #start i {
    font-size: 1.1em;
}

#levels ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#levels ul h4, #levels ul i{
    font-family: pixel;
}
#levels ul i{
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.5em;
    position: relative;
    top: -0.1em;
    left: -0.05em;

    width: 100%;
    display: block;
}
#levels ul i::before{
    content: "More this way";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    opacity: 0.2;
    font-size: 1rem;
}
#levels ul i::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    opacity: 0.2;
    background-image: url("../svg/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    transform: rotate(-90deg);
}

#levels ul li {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.carousel {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: clip;
    padding: 20px 20px 30px 20px;
    border-left: 5px double var(--primarybis);
    position: relative;
    scroll-behavior: smooth;
}
.carousel:active {
    cursor: grabbing;
}
.carousel::-webkit-scrollbar-track
{
	background-color: rgb(1, 1, 1, 0.1);
}
.carousel::-webkit-scrollbar
{
	width: 0px;
    height: 0px;
}
.carousel::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg, var(--primary), var(--primarybis));
}

.carousel-item {
    position: relative;
    flex: 0 0 200px;
    aspect-ratio: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    transition: margin-right 0.3s ease;
}

/* .carousel-item:not(.lock)::after {
    position: absolute;
    content:"";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120%;
    height: 120%;
    background-color: var(--primary);
} */

.carousel-item.active {
    margin-right: 300px;
}

.carousel-item.active img{
    border: 1px solid var(--white);
}

.carousel-item.active img, .carousel-item:not(.lock):hover img{
    filter: grayscale(0%) sepia(0%) brightness(100%);
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1px;
    transition: transform 0.3s ease, filter 0.3s ease;
    z-index: 1;
    border: 1px solid transparent;
    filter: grayscale(20%) sepia(50%) brightness(85%);
    
    cursor: pointer;
    user-select: none;
}

.carousel-item:not(.active):not(.lock):hover img {
    transform: scale(1.1);
}
.carousel-item.lock .img-lock{
    height: 100%;
}
.carousel-item.lock .img-lock{
    position: relative;
    cursor: inherit;
}
.carousel-item.lock .img-lock::after{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
    background-color: var(--secondary);
    border: 0.5px solid var(--white);

}
.carousel-item.lock .img-lock::before{
    content: "Locked";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    font-family: pixel;
}

.overlay {
    position: absolute;
    left: 3px;
    width: calc(100% - 3px);
    height: 90%;
    padding: 10px;
    box-sizing: border-box;
    background: var(--white);
    color: var(--black);
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transform-origin: left;
    transition: left 0.3s ease;
    border: 1px solid transparent;
}
.overlay.active {
    width: 300px;
    left: 100%;
}

.overlay h4 {
    margin: 0;
}

.overlay p {
    font-size: 1rem;
    margin: 0;
}

.overlay .links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.overlay a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;

    transition: color 0.2s ease;
    position: relative;
    
}
.overlay a:not([download]) {
    right: 7px;
}

.overlay a:hover {
    color: var(--secondarybis);
    text-decoration: underline;
}
.overlay a:not([download])::before {
    content: "";
    top: 50%;
    right: -7px;
    transform: translate(100%,-50%);
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/expand.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.overlay a[download]{
    font-size: 1rem;
}
.overlay .plus{
    border-top: 1px solid var(--primary);
    padding-top: 5px;
}
.overlay .plus p strong{
    text-transform: capitalize;
}


@media screen and (min-width: 1024px){
    .carousel {
        padding: 20px 50px 30px 50px;
    }
    #levels{
        padding: 100px;
    }
    .carousel-item {
        flex: 0 0 250px;
    }
    .carousel-item.active {
        margin-right: 330px;
    }
    .overlay.active {
        width: 330px;
    }

    #levels ul i{
        font-size: 3em;
    }
    
}